<div class="row">
	<div class="col s5">
		<span class="flow-text">
			<img class="responsive-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/Screen_Shot_2015-11-18_at_11.47.23_AM.png">
			<h3 style="color:rgb(23,74,119)">
				LCpl Smuchk
			</h3>
		</span>
	</div>
	<div class="col s7">
		<div class="divider"></div>
			<div class="section">
				<h5>Car</h5>	
			</div>
			<div class="progress">
				<div class="determinate" style="width: 33%"></div>
			</div>
		<div class="divider"></div>
			<div class="section">
				<h5>Food</h5>
			</div>
			<div class="progress">
				<div class="determinate" style="width: 78%"></div>
			</div>
		<div class="divider"></div>
			<div class="section">
				<h5>Emergency Fund</h5>
			</div>
			<div class="progress">
				<div class="determinate" style="width: 45%"></div>
			</div>
		<div class="divider"></div>
			<div class="section">
				<h5>Roth IRA</h5>
			</div>
			<div class="progress">
				<div class="determinate" style="width: 15%"></div>
			</div>
	</div>
</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "dodge.jpeg" %>
          <span class="card-title">Car</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>$55,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "ramen.jpg" %>
          <span class="card-title">Food</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>This ramen is available in 1.5 miles.<br> $$</p>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "beach.jpg" %>
          <span class="card-title">Trips</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>$5,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
        	<img src="../../assets/images/emFund.jpg">
          	<span class="card-title">Emergency Fund</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>$6,000</p>
        </div>
      </div>
    </div>
</div>