<div class="row">
	<div class="col s5">
		<span class="flow-text">
			<h1>LCpl Smuchkatelli</h1>
			<img class="responsive-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/Screen_Shot_2015-11-18_at_11.47.23_AM.png">
		</span>
	</div>
	<div class="col s7">
		<span class="flow-text">
			
		</span>
	</div>
</div>
