<div class="row">
	<div class="col s5">
		<span class="flow-text">
			<h1>LCpl Smuchkatelli</h1>
			<img class="responsive-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/Screen_Shot_2015-11-18_at_11.47.23_AM.png">
		</span>
	</div>
	<div class="col s7">
		<div class="divider"></div>
			<div class="section">
				<h5>Car</h5>	
			</div>
			<div class="progress">
				<div class="determinate" style="width: 33%"></div>
			</div>
	</div>
</div>
