<div class="row">
	<div class="col s5">
		<span class="flow-text">
			<h1>LCpl Smuchkatelli</h1>
			<img class="responsive-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67516/Screen_Shot_2015-11-18_at_11.47.23_AM.png">
		</span>
	</div>
	<div class="col s7">
		<div class="panel info">
			<dl class="skillz">
      			<dt>Car</dt>
     			<dd>33%</dd>
     			<dt>Food</dt>
      			<dd>78%</dd>
   			   	<dt>Emergency Fund</dt>
   			   	<dd>45%</dd>
   			   	<dt>Roth IRA</dt>
   			   	<dd>15%</dd>
		    </dl>			
		</div>
	</div>
</div>
