-# .form-container{style: 'text-align: center;'} 
-#     .form-background
-#         .row
%form{style: 'background: #FFF;'}
    .row
        &nbsp
    .row
        %h3
            Let's get started!
    .row
        .input-field.col.s12.m12.l6
            %input#first_name.validate{:type => "text"}/
            %label{:for => "first_name"} First Name
        .input-field.col.s12.m12.l6
            %input#last_name.validate{:type => "text"}/
            %label{:for => "last_name"} Last Name
    .row
        .input-field.col.s12
            %input#password.validate{:type => "password"}/
            %label{:for => "password"} Password
    .row
        .input-field.col.s12
            %input#email.validate{:type => "email"}/
            %label{:for => "email"} Email
    .row
        .input-field.col.s6
            %input#bank-account-num.validate{:type => "text"}/
            %label{:for => "bank-account-num"} Bank Account Number
        .input-field.col.s6
            %input#bank-routing.validate{:type => "text"}/
            %label{:for => "bank-routing"} Bank Routing Number
    .row
        .input-field.col.s12
            %a.waves-effect.waves-light.btn{href: '/dashboard'}
                Submit
    .row
        &nbsp
    .row
